<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="FCKeditor:BasePath" value="~/FCKEditor/"/>
    <add key="FCKeditor:UserFilesPath" value="/Uploads"/>
    <add key="FCKeditor:UploadDeniedExtensions" value=".php|.php3|.php5|.phtml|.asp|.aspx|.ascx|.jsp|.cfm|.cfc|.pl|.bat|.exe|.dll|.reg|.cgi|.cs|.vb|.asa|.cer|c.dx|.ascx|.asax|.ashx|.asmx|.java|.jsl"/>
  </appSettings>
  <connectionStrings>
    <add name="AdmissionConnString" connectionString="Server=(local);Database=Admission;Integrated Security=SSPI"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true">
      <assemblies>        
        
      </assemblies>
    </compilation>
    <authentication mode="Windows"/>
    <httpRuntime maxRequestLength="1048576" executionTimeout="2000"/>
  </system.web>
</configuration>